<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>
    <header>
<!--       <div class="container">
      </div> -->
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <section id="downloads">
          <a href="{{ '/index.html' | relative_url }}" class="btn">Home</a>
          <a href="{{ '/fin_data.html' | relative_url }}" class="btn">Data</a>
          <a href="{{ '/research.html' | relative_url }}" class="btn">Research</a>
          <a href="{{ '/password.html' | relative_url }}" class="btn">Password</a>
          <a href="https://linktr.ee/walkerrh_" class="btn">Linktree</a>
      <!-- Keep your other buttons here -->
<!--         <section id="downloads"> -->
<!--           {% if site.show_downloads %} -->
<!--             <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a> -->
<!--             <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a> -->
<!--           {% endif %} -->
<!--           <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a> -->
        </section>
      </div>
      <div id="time-display">
        <p id="timeNY"></p>
        <p id="timeLDN"></p>
        <p id="timeDUB"></p>
        <p id="timeHK"></p>
        <p id="timeTOK"></p>
    
        <script>
        function updateTime() {
            var d = new Date();
            
            document.getElementById('timeNY').innerHTML = 'New York Time: ' + new Intl.DateTimeFormat('en-US', {timeZone: 'America/New_York', timeStyle: 'full'}).format(d);
            document.getElementById('timeLDN').innerHTML = 'London Time: ' + new Intl.DateTimeFormat('en-GB', {timeZone: 'Europe/London', timeStyle: 'full'}).format(d);
            document.getElementById('timeDUB').innerHTML = 'Dubai Time: ' + new Intl.DateTimeFormat('en-AE', {timeZone: 'Asia/Dubai', timeStyle: 'full'}).format(d);
            document.getElementById('timeHK').innerHTML = 'Hong Kong Time: ' + new Intl.DateTimeFormat('en-HK', {timeZone: 'Asia/Hong_Kong', timeStyle: 'full'}).format(d);
            document.getElementById('timeTOK').innerHTML = 'Tokyo Time: ' + new Intl.DateTimeFormat('en-JP', {timeZone: 'Asia/Tokyo', timeStyle: 'full'}).format(d);
            
            setTimeout(updateTime, 1000);
        }
        
        updateTime();
        </script>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
